
.body {
    font-family: 'Courier New', Courier, monospace;

}

.app {

}

.searchBox{
    width: 200px;
    height: 50px;

    border: 2px solid rgb(159, 200, 228);
    border-radius: 5px;
    margin: 10px auto;
    
}

.searchBox .searchBar {
    display: block;
    width: 200px;
    padding: 20px;
    appearance: none;
    background: none;
    border-color: rgb(159, 200, 228);
    border: 2px;
    outline: none;

}
.locationBox .location {
    color:  rgb(69, 163, 240);
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px rgb(69, 163, 240);
}
.locationBox .date {
    color: rgb(69, 163, 240);
    font-size: 20px;
    font-weight: 300px;
    font-style: italic;
    text-align:center;
    text-shadow: rgb(69, 163, 240);

}

.weatherBox {
    text-align: center;
}

.weatherBox .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgb(69, 163, 240);
    border-radius: 20px;
    padding: 15px 25px;
    color: white;
    font-size: 102px;
    font-weight: 900px;
    text-shadow: 2px 2px rgb(69, 163, 240);
    text-align: center;
    box-shadow: 2px 2px rgb(69, 163, 240);
}

.weatherBox .weather {
    color:rgb(69, 163, 240);
    font-size: 47px;
    font-weight: 400;
    text-shadow: 2px 2px rgb(69, 163, 240);
}