.nav {
  grid-area: navApp;
  background-color:   rgb(9, 154, 238);
  padding: 40px;
  line-height: 25px;

  
}
.item a {
  color: white;
  margin-left: 0,4pc;
  margin-top: 1pc;
  text-decoration: none;

}

.item a.activ {
  color: gold;
}
