.nav {
  grid-area: navApp;
  display: flex;
  justify-content: center;
  background-color: rgb(9, 154, 238);
  line-height: 30px;
  border-radius: 5px;
  height: 30px;
 
  
  

  
}
.item a {
  color: white;
  margin-left: 20px;
  margin-top: 1pc;
  text-decoration: none;

}

.item a.activ {
  color: gold;
}
