.header {
  grid-area: headerApp;
  background-color: rgb(9, 154, 238);
  font-size: 35pt;
  margin-bottom: 15px;
}
.header img {
  width: 40px;
  padding-left: 34px;
  margin-top: 10px;
}
.header text {
  margin: 0 auto; 
}
.loginBlock {
  float: right;
  font-size: 10pt;
  padding-top: 10px;
  color: rgb(255, 255, 255);
}
