.app-wrapper {
  display: grid;
  grid-template-areas:
  "headerApp headerApp"
  "navApp contentApp";
   grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

}
.app-wrapper-content {
    grid-area: contentApp;
    border-color:hsl(219, 79%, 66%);
    border-width: 1px;
    border-radius: 10px;
    border-style: outset;
  }


